<!DOCTYPE html>
<html>
  <head>
    <title>SpeedBench</title> 
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0-beta1/dist/js/bootstrap.bundle.min.js" integrity="sha384-ygbV9kiqUc6oa4msXn9868pTtWMgiQaeYH7/t7LECLbyPA2x65Kgf80OJFdroafW" crossorigin="anonymous"></script>
<link rel='stylesheet' href='/stylesheets/style.css' /> 
</head>
<body>

  <nav class="navbar navbar-expand-lg navbar-light bg-light">
    <div class="container-fluid">
      <a class="navbar-brand" href="/">SpeedBench</a>
      <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>
      <div class="collapse navbar-collapse" id="navbarNav">
        <ul class="navbar-nav">
          <li class="nav-item">
            <a class="nav-link active" aria-current="page" href="/">Test Speed</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="/view-all">All Tests</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="/isp-report">ISP Reports</a>
          </li>
        </ul>
      </div>
    </div>
  </nav>
      <br>
      <br>

    <form action="/test-speed" method="post">
      <label for="speed">Speed:</label>
      <input type="hidden" name="speed" value="<%= s %>"><%= Math.round(s) %> Mbps
      <br><br>
      <label for="isp">ISP:</label>
      <input type="hidden" name="isp" value="<%= request.asn %>"><%= request.asn %>
      <br><br>
      <label for="location">Location:</label>
      <input type="hidden" name="location" value="<%= request.city + ", " + request.region %>"><%= request.city + ", " + request.region %>
      <br><br>
      <input type="submit" value="Submit">
      <br><br>

    </form>

    <div class="card text-white bg-info mb-3" style="max-width: 18rem;">
      <div class="card-header">Public IP: <%= ip %></div>
      <div class="card-body">
        <h5 class="card-title">About your IP Address</h5>
        <p class="card-text">The public IP address is the Internet Protocol address, logged by various servers/devices.   This is when you connect to these devices through your internet connection. The public IP address assigned to the device by the Internet Service Provider as soon as the device has connection to the Internet.</p>
      </div>
    </div>

  </body>
</html>
